<div class="footer mt-5">
  <div class="footer-links">
    <a href="https://github.com/alexisjps/"><i class="fab fa-github"></i></a>
  </div>
  <div class="footer-copyright">
    Fait avec <i class="fas fa-heart"></i>
  </div>
</div>
